/* Body section */
body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-repeat: no-repeat;
  background-color: #231e26;
}

/* Basic Structure */
header {
  background: black;
}

nav {
  margin-left: 38%;
}

/* Modifying parts */
header::after {
  content: '';
  display: table;
  clear: both;
}

.nav-bar-container {
  width: 80%;
}

.nav-links {
  color: #dcc2c2;
}

.nav-links:hover{
  color: white;
}

/* To access the ul and li elements of nav */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 35px;
  padding-left: 35px;

  position: relative;
}

nav a {
  color: #dcc2c2;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #dcc2c2;

  position: absolute;
  top: 0px;
  width: 0%;

  transition: ease-in-out 500ms;
}

nav a:hover::before {
  width: 100%;
}

/* Logo/Images Section */ 
.logo-img {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 15%;
  height: 15%;
  object-fit: contain;
}