.BFull {
    width: 1920px;
    height: 235px;
    object-fit: contain;
    border: solid 1px #d6a7a7;
  }

  ._91186 {
    width: 248px;
    height: 248px;
    object-fit: contain;
    border: solid 1px #d6a7a7;
  }